# C++ build artifacts
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.zip

# CLion / CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# JetBrains IDE (CLion)
.idea/
*.iws
*.iml

# Others (optional logs/temp)
*.log
